body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

input[type="submit"] {
    border: none;
    cursor: pointer;
    margin-bottom: -1em;
    height: unset;
}

nav {
    position: sticky;
    top: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #C4E2FF;
    padding-block: 1em;
    white-space: nowrap;
    display: table;
}

.center {
    padding-inline: 6%;
}

@media only screen and (min-width: 1390px) {
    .center {
        padding-inline: calc((100% - 75em) / 2);
    }
}

.v-mid {
    vertical-align: middle;
}

#fill {
    display: table-cell;
    width: 100%;
}

.nav-c {
    margin-right: 1em;
    font-family: sans-serif;
}

.btn {
    background-color: #000000d5;
    transition: 0.5s;
    border-radius: 2.5em;
    padding-inline: 1.2em;
    padding-block: 0.6em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.btn:hover {
    background-color: black;
}

.btn5 {
    background-color: green;
    padding-inline: 0.8em;
    padding-block: 0.3em;
    font-size: small;
}

.btn5:hover {
    background-color: rgb(0, 98, 0);
}

#who {
    margin-top: 2em;
}

#name {
    font-size: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 0.4em;
}

#bl {
    margin-top: 1em;
    margin-bottom: 2em;
}

#date {
    color: rgb(89, 89, 89);
    margin-left: 0.4em;
    margin-top: 0.2em;
}

#overlay {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    padding-block: calc((100vh - 40em) / 2);
    padding-inline: calc((100% - 40em) / 2);
}

#window {
    background-color: white;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px 0px #a7a7a7;
}

@media only screen and (max-width: 950px) {
    #overlay {
        padding-block: 0;
    }
}

@media only screen and (max-device-width: 950px) {
    #overlay {
        padding-block: 0;
    }
}

@media only screen and (max-width: 728px) {
    #overlay {
        padding-block: 0;
        padding-inline: 0;
    }
}

@media only screen and (max-device-width: 728px) {
    #overlay {
        padding-block: 0;
        padding-inline: 0;
    }
}

.closebtn {
    position: relative;
    top: 0.2em;
    left: calc(100% - 1em);
    font-size: 2em;
    color: rgba(0, 0, 0, 0.562);
}

#overlay-content {
    height: 100%;
    margin-top: -2.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#head2 {
    font-size: 2em;
    text-align: center;
    flex-basis: 2em;
}

#yemail {
    font-size: smaller;
    color: rgb(35, 35, 35);
    flex-basis: 3em;
}

.field input {
    border: none;
    outline: none;
    text-align: center;
    font-size: large;
}

.field {
    border-bottom: 1px solid rgb(45, 45, 45);
    margin-bottom: 2em;
}

.btn4 {
    font-size: medium;
    padding-inline: 5em;
}

#warn {
    color: red;
    flex-basis: 1.5em;
}

#head {
    font-size: 2em;
    text-align: center;
    flex-basis: 4em;
}

#btn3 {
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(165, 165, 165);
    border-radius: 5em;
    padding-inline: 1.5em;
    padding-block: 0.5em;
}

#btn3:hover {
    border-color: black;
}

#btn3>span {
    display: inline-block;
    vertical-align: middle;
    font-size: large;
}

#sub {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    max-width: 15em;
    text-align: center;
    flex-basis: 6em;
}

#check {
    vertical-align: middle;
}

#remember {
    margin-bottom: 1em;
}

#link {
    color: blue;
}

#link:hover {
    text-decoration-line: underline;
}

#inter {
    display: inline;
    background-color: white;
    padding: 0.8em;
    border-radius: 1em;
    box-shadow: 0px 0px 10px 0px #a7a7a7;
}

#inter * {
    vertical-align: middle;
}

#int {
    position: sticky;
    bottom: 2em;
    text-align: center;
    margin-bottom: 5em;
}

#like,
#dislike,
#comment {
    display: inline-block;
    transition: all .2s ease-in-out;
}

#like:hover,
#dislike:hover,
#comment:hover {
    transform: scale(1.1);
}

#comment-slider {
    position: fixed;
    bottom: -90%;
    height: 70%;
    width: 88%;
    margin-inline: 6%;
    background-color: white;
    box-shadow: 0px 0px 40px 20px #a7a7a7;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: normal;
}

@media only screen and (min-width: 1390px) {
    #comment-slider {
        margin-inline: calc((100% - 75em) / 2);
        width: calc(100% - (100% - 75em));
    }
}

textarea {
    max-width: 60%;
    max-height: 50%;
    margin: 1em;
}

#post,
textarea {
    vertical-align: middle;
}

.va {
    vertical-align: middle;
}

.name {
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.des {
    margin-top: -0.3em;
    margin-bottom: 0.5em;
    color: rgb(88, 88, 88);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.comment {
    margin: 1em;
}

#close,
#back {
    position: relative;
    top: unset;
    left: unset;
}

#close {
    float: right;
    margin-right: 0.5em;
}

#back {
    float: left;
    margin-left: 0.5em;
}

#comment-header .comment {
    margin-top: -0.2em;
}